.container {
  padding: 2rem;
  background-color: antiquewhite;
}
table {
  border-collapse: collapse;
}

body {
  font-family: 'monospace', Times, serif;
}

td, th {
  border: 1px solid #444;
  padding: 0.5rem;
  text-align: left;
}
.p-16 {
  padding: 16px;
}

.notify{
  display: none;
  text-align: center;
  border: 1px solid black;
  width: 20%;
  background: #27c427;
  padding: 8px;
  position: absolute;
  right: 44px;
  top: 5px;
}